.tool{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 44px;
	padding: 0 1.4rem;
	box-sizing: border-box;
	background: #0587eb;
}
.tool h1{
	line-height: 44px;
	color: #fff;
	text-align: center;
	font-size: .34rem;
}
.tool a{
	display: block;
	position: absolute;
	color: #fff;
}
.tool .location{
	right: 0;
	top: 0;
	font-size: .24rem;
	line-height: 44px;
	padding-right: .2rem;
	height: 100%;
	overflow: hidden;
}
.tool .location span{
	display: inline-block;
	max-width: 1.4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tool .location i{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 13px;
	width: 13px;
	height: 18px;
	background: url(../images/location.png) no-repeat;
	background-size: 100% 100%;
}
.back{
	position: absolute;
	left: 0;
	top: 2px;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
}
.back i{
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	background: url(../images/back.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 10px;
}
.mt44{
	margin-top: 44px;
}

/*定位*/
.location{
	position: relative;
}
.location .top{
	width: 100%;
	height: 3rem;
	background: url(../images/3.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
	margin-bottom: .45rem;
}
.location .top .search{
	margin: 1.5rem .25rem 0;
	position: relative;
	border-radius: .35rem;
	overflow: hidden;
	height: .68rem;
}
.location .top .search input{
	width: 100%;
	height: .68rem;
	padding: 0 .35rem;
	box-sizing: border-box;
	background: #fff;
	border: 0;
	text-align: center;
	font-size: .26rem;
	border-radius: .35rem;
	vertical-align: top;
}
.location .top .search .btn{
	position: absolute;
	right: 0;
	top: 0;
	width: 1.05rem;
	height: .68rem;
	background: #0097e0;
	text-align: center;
}
.location .top .search .btn i{
	display: inline-block;
	vertical-align: top;
	width: .38rem;
	height: .38rem;
	background: url(../images/search.png) no-repeat;
	background-size: 100% 100%;
	margin-top: .15rem;
}
.location .part{
	margin-bottom: .45rem;
	padding: 0 .4rem; 
}
.location .part h3{
	text-align: center;
	line-height: 1;
	font-size: .24rem;
	color: #666;
	margin-bottom: .2rem;
}
.location .part .item{
	overflow: hidden;
	font-size: 0;
}
.location .part .item a{
	display: inline-block;
	float: left;
	text-align: center;
	border: .02rem solid #666;
	border-radius: .3rem;
	width: 1.46rem;
	height: .52rem;
	line-height: .56rem;
	font-size: .26rem;
	color: #666;
	margin-right: .55rem;
	margin-bottom: .16rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.location .part .item a:nth-child(3n){
	margin-right: 0;
}
.location .part .item .icon{
	display: inline-block;
	width: .36rem;
	height: .36rem;
	background: url(../images/location2.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: top;
	margin: .08rem .02rem 0 0;
}
*{
	-webkit-overflow-scrolling: touch;
}
/*空气质量等级*/
.level1{
  background: #a3d765;
}
.level2{
  background: #f0cc35;
}
.level3{
  background: #f1ab62;
}
.level4{
  background: #ef7f77;
}
.level5{
  background: #b28ccb;
}
.level6{
  background: #ad788a;
}
/*天气图标*/
.weather .wicon{
  display: inline-block;
  width: .32rem;
  height: .32rem;
  vertical-align: top;
}
.weather .cloud{
  background: url(../images/weather/cloud.png) no-repeat;
  background-size: 100% 100%;
}
.weather .cloud2{
  background: url(../images/weather/cloud2.png) no-repeat;
  background-size: 100% 100%;
}
.weather .lightning{
  background: url(../images/weather/lightning.png) no-repeat;
  background-size: 100% 100%;
}
.weather .cloudy{
  background: url(../images/weather/cloudy.png) no-repeat;
  background-size: 100% 100%;
}
.weather .rainy{
  background: url(../images/weather/rainy.png) no-repeat;
  background-size: 100% 100%;
}
.weather .rainy2{
  background: url(../images/weather/rainy2.png) no-repeat;
  background-size: 100% 100%;
}
.weather .snowy{
  background: url(../images/weather/snowy.png) no-repeat;
  background-size: 100% 100%;
}
.weather .snowy2{
  background: url(../images/weather/snowy2.png) no-repeat;
  background-size: 100% 100%;
}
.weather .moon{
  background: url(../images/weather/moon.png) no-repeat;
  background-size: 100% 100%;
}
.weather .sun{
  background: url(../images/weather/sun.png) no-repeat;
  background-size: 100% 100%;
}
.weather .windy{
  background: url(../images/weather/windy.png) no-repeat;
  background-size: 100% 100%;
}
.weather .weather{
  background: url(../images/weather/weather.png) no-repeat;
  background-size: 100% 100%;
}
.weather .windy2{
  background: url(../images/weather/windy2.png) no-repeat;
  background-size: 100% 100%;
}