.traffic{
  background: #13446d;
}
.traffic .tool{
  background: -webkit-linear-gradient(#7091b0, #194067); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#7091b0, #194067); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#7091b0, #194067); /* Firefox 3.6 - 15 */
  background: linear-gradient(#7091b0, #194067); /* 标准的语法 */
}
.traffic .calender{
  padding-bottom: 1.4rem;
}
.traffic .calender .month{
  padding: 0 .8rem;
  line-height: .9rem;
  font-size: .32rem;
  color: #fff;
  position: relative;
  text-align: center;
  border-top: 1px solid #2b557f;
  background: -webkit-linear-gradient(#17426d, #0c416d); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#17426d, #0c416d); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#17426d, #0c416d); /* Firefox 3.6 - 15 */
  background: linear-gradient(#17426d, #0c416d); /* 标准的语法 */
}
.traffic .calender .month a{
  display: inline-block;
  width: .6rem;
  height: .6rem;
  position: absolute;
  top: .15rem;
}
.traffic .calender .month .pre{
  background: url(../images/pre.png) no-repeat;
  background-size: 100% 100%;
  left: .8rem;
}
.traffic .calender .month .next{
  background: url(../images/next.png) no-repeat;
  background-size: 100% 100%;
  right: .8rem;
}
.traffic .calender table{
  width: 100%;
  font-size: .26rem;
  text-align: center;
}
.traffic .calender th{
  color: #fff;
  text-align: center;
  line-height: .7rem;
  border-top: 1px solid #3d7baa;
  background: -webkit-linear-gradient(#0b5c94, #064c88); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#0b5c94, #064c88); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#0b5c94, #064c88); /* Firefox 3.6 - 15 */
  background: linear-gradient(#0b5c94, #064c88); /* 标准的语法 */
}
.traffic .calender td{
  line-height: 1rem;
  color: #fff;
  background: #13446d;
  border: 1px solid #2a5b84;
}
.traffic .calender .dis{
  color: #4778a1;
}
.traffic .calender .today{
  color: #bb8e4d;
}
.traffic .calender .choose{
  background: #ffd00e;
  color: #693a00;
}
.traffic .bottom{
  background: -webkit-linear-gradient(#1c4060, #111d33); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#1c4060, #111d33); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#1c4060, #111d33); /* Firefox 3.6 - 15 */
  background: linear-gradient(#1c4060, #111d33); /* 标准的语法 */
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.4rem;
}
.traffic .bottom .bkm{
  float: right;
  display: inline-block;
  padding: .3rem;
  color: #fff;
  font-size: .22rem;
  text-align: center;
}
.traffic .bottom .bkm i{
  display: block;
  width: .8rem;
  height: .4rem;
  background: url(../images/sun.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: .04rem;
}

.traffic .filter{
  overflow: hidden;
  padding: 0 0 0 1.9rem;
  line-height: 44px;
}
.traffic .filter .date{
  display: block;
  font-size: .34rem;
  color: #fff;
  position: absolute;
  left: .3rem;
  top: 0;
}
.traffic .filter .address{
  color: #fff;
  font-size: 0;
}
.traffic .filter .address span{
  font-size: .34rem;
  margin: 0 .1rem;
}
.traffic .filter .address select{
  display: inline-block;
  font-size: .34rem;
  border: 0;
  background: transparent;
  color: #fff;
  line-height: 44px;
}
.traffic .list{
  background: #13446d;
  padding-bottom: 1rem;
}
.traffic .list li{
  padding: .1rem .2rem;
  border-top: 1px solid #2c5889;
  position: relative;
  line-height: .44rem;
  font-size: .26rem;
  color: #bbd7f5;
  overflow: hidden;
}
.traffic .list li .company{
  float: left;
  width: 1.4rem;
}
.traffic .list li .company h3{
  color: #90d7ff;
  font-weight: bold;
}
.traffic .list li .company h4{
  color: #e5c5a0;
}
.traffic .list li .company p{
  font-size: .24rem;
  line-height: .34rem;
}
.traffic .list li .price{
  float: right;
  width: 1.4rem;
}
.traffic .list li .price h3{
  color: #ffd00e;
  font-weight: bold;
}
.traffic .list li .price p{
  font-size: .24rem;
}
.traffic .list li .price i{
  display: inline-block;
  vertical-align: top;
  width: .06rem;
  height: .26rem;
  margin: .09rem 0 0 .1rem;
}
.traffic .list li .price .up{
  background: url(../images/up.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .list li .price .down{
  background: url(../images/down.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .list li .time{
  float: left;
}
.traffic .list li .time span{
  color: #fff;
  font-size: .28rem;
  margin-right: .1rem;
}
.traffic .bar{
  height: 1rem;
  display: flex;
  justify-content: space-around;
}
.traffic .bar a{
  display: inline-block;
  font-size: .24rem;
  color: #fff;
  text-align: center;
}
.traffic .bar a span{
  display: block;
  line-height: 1;
}
.traffic .bar a i{
  display: inline-block;
  width: .42rem;
  height: .4rem;
  margin-bottom: .1rem;
  margin-top: .14rem;
  vertical-align: top;
}
.traffic .bar a .pre{
  background: url(../images/left.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .bar a .next{
  background: url(../images/right.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .bar a .down{
  width: .4rem;
  height: .42rem;
  margin-top: .12rem;
  background: url(../images/down1.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .bar a .up{
  width: .4rem;
  height: .42rem;
  margin-top: .12rem;
  background: url(../images/up1.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .form{
  margin-top: 1rem;
  padding: 0 .4rem;
}
.traffic .form .form-div{
  margin-bottom: .4rem;
  position: relative;
  padding-left: .7rem;
  background: #fff;
}
.traffic .form .form-div .icon{
  position: absolute;
  left: .1rem;
  top: .14rem;
  display: inline-block;
  width: .5rem;
  height: .5rem;
}
.traffic .form .form-div .jp{
  background: url(../images/jp.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .form .form-div .hcp{
  background: url(../images/hcp.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .form .form-div .qcp{
  background: url(../images/qcp.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .form .form-div .date{
  background: url(../images/calender.png) no-repeat;
  background-size: 100% 100%;
}
.traffic .form .form-div input{
  display: block;
  border: 0;
  background: #fff;
  padding: 0 .1rem;
  line-height: .8rem;
  width: 100%;
  box-sizing: border-box;
  font-size: .28rem;
}
.traffic .form .submit{
  height: .8rem;
  width: 100%;
  background: #ffc306;
  line-height: .8rem;
  text-align: center;
  color: #fff;
  font-size: .34rem;
}